<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />



    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 700px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .themed-container {
            padding: 15px;
            margin-bottom: 30px;
            background-color: rgba(0, 123, 255, .15);
            border: 1px solid rgba(0, 123, 255, .2);
        }

        img {
            max-width: 250px;
            max-height: 150px;
        }

        .themed-grid-col {
            padding-top: 1px;
            padding-bottom: 15px;
            background-color: rgba(86, 61, 124, .15);
            border: 1px solid rgba(86, 61, 124, .2);
        }


    </style>



</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">PCBuildIreland</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="parts">Parts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="completedbuilds">Completed Builds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="raspberry">Raspberry Pie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us</a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
</nav>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Low End Build: 500-600 Euro</h1>
        <p class="lead">Below is the list of parts used to assemble this specific build and where to find them online.</p>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/1.jpg" alt="LinkedIn Icon">&nbsp&nbsp&nbsp&nbsp<img src="/images/cb1a.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>
    </div>
</main>

<br>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/p2.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>AMD Ryzen 5 2600, 6 Core CPU with 12 Threads. Base clock speed of 3.4GHz with a max boost of 3.9GHz. Maximum temperatures of 95 Degrees under load.</strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/AMD-Processor-Wraith-Stealth-Cooler/dp/B07B41WS48/ref=sr_1_1?dchild=1&keywords=2600&qid=1587249375&sr=8-1" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb1b.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>Inspired from architectural design, B450-A PRO MAX motherboard is equipped with Core Boost, DDR4 Boost, Turbo M.2 and USB 3.2 Gen2 connector.</strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/MSI-B450-PRO-MAX-Motherboard/dp/B07W837QSF/ref=sr_1_5?dchild=1&keywords=msi+b450&qid=1587249290&sr=8-5" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb1c.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>G.Skill TridentZ RGB Series 16GB (2 x 8GB) 288-Pin 3600MHz (PC4 28800) Desktop Memory Model F4-3600C17D-16GTZR. Featuring a completely exposed light bar with vibrant RGB LEDs, merged with the award-winning Trident Z heatspreader design.</strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/G-Skill-F4-3200C16D-16GTZB-Trident-PC25600-Noir/dp/B015FY3BJ2/ref=sr_1_12?dchild=1&keywords=g+skills&qid=1587249428&sr=8-12" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb1d.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>Upgrade virtually every aspect of your computer’s performance with Samsung’s 850 EVO, designed with state of the art SSD which includes 3D V-NAND technology. In 840 EVO, you will get three dimensional chip design that enables performance, reliability and high energy efficiency so you can work and play faster and longer than before.</strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/Samsung-MZ-76E1T0B-EU-Solid-State/dp/B078WST5RK/ref=sr_1_1?dchild=1&keywords=Samsung+850+EVO-Series&qid=1587249488&sr=8-1" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb1e.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>The new EVGA GeForce GTX 970 is powered by the next-generation NVIDIA Maxwell architecture, giving you incredible performance, unmatched power efficiency, and cutting-edge features. This card features EVGA ACX 2.0 cooling. With optimized Swept fan blades, double ball bearings and an extreme low power motor.</strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/GeForce-GAMING-Support-Graphics-04G-P4-6251-KR/dp/B01M66IJ55/ref=sr_1_1?dchild=1&keywords=evga+geforce+gtx+970+4gb&qid=1587249536&sr=8-1" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb1f.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>Lian Li PC-O11DW 011 DYNAMIC tempered glass on the front Chassis body SECC ATX Mid Tower Gaming Computer Case White.</strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/Lian-Li-pc-o11dw-Case-White/dp/B07C88K4KP/ref=sr_1_1?dchild=1&keywords=Lian+Li+PC-O11&qid=1587249627&sr=8-1" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>


<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">PCBuildIreland</h5>
                <p>PCBuildIreland is a web application project focused on providing information
                    on how to assemble your own computer with the aid of price matching products
                    and sharing knowledge together online.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Pages</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/parts">Parts</a>
                    </li>
                    <li>
                        <a href="/completedbuilds">Completed Builds</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Other</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://pcpartpicker.com/" target="_blank">PC Part Picker</a>
                    </li>
                    <li>
                        <a href="https://www.pcspecialist.ie/build-your-own-pc/" target="_blank">PC Specialist</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.co.uk/" target="_blank">Amazon UK</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.de/" target="_blank">Amazon Germany</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>

                <ul class="list-unstyled">
                    <li>
                        <a>Mark Carley</a>
                    </li>
                    <br>
                    <li>
                        <a>Waterford Institute of Technology,<br>
                            Waterford, Ireland</a>
                    </li>
                    <br>
                    <li>
                        <a>20071864@mail.wit.ie</a>
                    </li>
                    <br>
                    <li>
                        <a>+ 01 234 5678</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>




</body>
</html>