<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        img {
            max-width: 250px;
            max-height: 150px;
        }

        .themed-grid-col {
            padding-top: 1px;
            padding-bottom: 15px;
            background-color: rgba(86, 61, 124, .15);
            border: 1px solid rgba(86, 61, 124, .2);
        }

    </style>

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">PCBuildIreland</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="parts">Parts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="completedbuilds">Completed Builds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="raspberry">Raspberry Pie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us</a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
</nav>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Very High End Build: Between 4500-5000 euro</h1>
        <p class="lead">Below is the list of parts used to assemble this specific build and where to find them online.</p>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb2a.jpg" alt="LinkedIn Icon">&nbsp&nbsp&nbsp&nbsp<img src="/images/cb2b.jpg" alt="LinkedIn Icon">&nbsp&nbsp&nbsp&nbsp<img src="/images/cb2a.jpg" alt="LinkedIn Icon">&nbsp&nbsp&nbsp&nbsp<img src="/images/cb2c.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>
    </div>
</main>

<br>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb2d.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>9th Gen Intel Core i9-9900KS Special Edition unlocked desktop processor. Features 5. 0 GHz turbo frequency on all 8 cores, right out of the box, for the ultimate pro-level gaming eand overclocking experience. Thermal solution NOT included in the box.</strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/Intel-Core-i9-9900K-Retail-Graphics/dp/B005404P9I/ref=sr_1_1?dchild=1&keywords=Intel%2BCore%2Bi9-9900KS&qid=1587250320&sr=8-1&th=1" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb2e.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>ASUS ROG Maximus XI Formula Z390 LGA1151 (Intel 8th and 9th Gen) ATX DDR4 HDMI M.2 USB 3.1 Gen2 Gaming Motherboard, Black. 5-way Optimization: Automated system-wide tuning, providing AI Overclocking and cooling profiles tailor-made for your rig.</strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/ASUS-Maximus-Formula-LGA1151-Motherboard/dp/B07J54MQ5X/ref=sr_1_1?dchild=1&keywords=Asus+ROG+MAXIMUS+XI&qid=1587329716&sr=8-1" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb2f.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>G.SKILL F4-3200C16D-16GTZR Trident Z RGB Series 16 GB (8 GB x 2) DDR4 3200 MHz PC4-25600 CL16 Dual Channel Memory Kit - Black with full length RGB LED light bar. Completely uncovered, full-length light bar. Highly screened ICs and custom 10-layer PCB for uncompromised overclocking performance.</strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/G-SKILL-F4-3200C16D-16GTZR-Trident-PC4-25600-Channel/dp/B01MTDEYHU/ref=sr_1_1?dchild=1&keywords=G.Skill+Trident+Z+RGB+16+GB&qid=1587329889&sr=8-1" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb2g.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>Western Digital_Black SN750 500 GB NVMe Internal Gaming SSD with Heatsink - Generation 3 PCIe, M.2 2280, 3D NAND. Transfer speeds up to 3470MB/s for improved load times.</strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/Black-High-Performance-Internal-Gaming-Heatsink/dp/B07MC2Q81D/ref=sr_1_1?dchild=1&keywords=western+digital+black+nvme+500gb&qid=1587330143&sr=8-1" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb2h.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>ASUS ROG Strix GeForce RTX 2080 Ti OC Edition 11 GB Graphic Card GDDR6 with Enthusiast-Level Technology for Extreme 4K and VR Gaming ROG-STRIX-RTX2080TI-O11G. Powered by the Turing GPU architecture ROG GeForce RTX graphics cards provide up to 6X more performance than previous-gen cards.</strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/ASUS-GeForce-Enthusiast-Level-Technology-ROG-STRIX-RTX2080TI-O11G/dp/B07HNMT91C/ref=sr_1_1?dchild=1&keywords=Asus+GeForce+RTX+2080+Ti&qid=1587330289&sr=8-1" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb2i.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>Lian Li Dynamic XL ROG Certified Mid Tower Gaming Case - White USB 3.0. The Lian Li O11Dynamic XL Midi-Tower combines brushed aluminium with tempered glass elements. </strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/Dynamic-ROG-Certified-Tower-Gaming/dp/B07XLF7TBR/ref=sr_1_fkmr1_1?dchild=1&keywords=Lian+Li+PC-V3000&qid=1587330505&sr=8-1-fkmr1" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>

<hr>

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">PCBuildIreland</h5>
                <p>PCBuildIreland is a web application project focused on providing information
                    on how to assemble your own computer with the aid of price matching products
                    and sharing knowledge together online.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Pages</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/parts">Parts</a>
                    </li>
                    <li>
                        <a href="/completedbuilds">Completed Builds</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Other</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://pcpartpicker.com/" target="_blank">PC Part Picker</a>
                    </li>
                    <li>
                        <a href="https://www.pcspecialist.ie/build-your-own-pc/" target="_blank">PC Specialist</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.co.uk/" target="_blank">Amazon UK</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.de/" target="_blank">Amazon Germany</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>

                <ul class="list-unstyled">
                    <li>
                        <a>Mark Carley</a>
                    </li>
                    <br>
                    <li>
                        <a>Waterford Institute of Technology,<br>
                            Waterford, Ireland</a>
                    </li>
                    <br>
                    <li>
                        <a>20071864@mail.wit.ie</a>
                    </li>
                    <br>
                    <li>
                        <a>+ 01 234 5678</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>

<hr>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
</nav>


</body>
</html>