<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        img {
            max-width: 250px;
            max-height: 150px;
        }

        .themed-grid-col {
            padding-top: 1px;
            padding-bottom: 15px;
            background-color: rgba(86, 61, 124, .15);
            border: 1px solid rgba(86, 61, 124, .2);
        }

    </style>

</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">PCBuildIreland</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="parts">Parts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="completedbuilds">Completed Builds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="raspberry">Raspberry Pie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us</a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>



<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
</nav>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
</nav>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Mid Range Build: Between 1000-1200 euro</h1>
        <p class="lead">Below is the list of parts used to assemble this specific build and where to find them online.</p>
        <svg class="bd-placeholder-img card-img-top" width="100%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb3a.jpg" alt="LinkedIn Icon">&nbsp&nbsp&nbsp&nbsp<img src="/images/cb3b.jpg" alt="LinkedIn Icon">&nbsp&nbsp&nbsp&nbsp<img src="/images/cb3c.jpg" alt="LinkedIn Icon">&nbsp&nbsp&nbsp&nbsp<img src="/images/cb3d.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/>&nbsp&nbsp&nbsp&nbsp</svg>
    </div>
</main>

<br>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/p2.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>AMD Ryzen 5 2600, 6 Core CPU with 12 Threads. Base clock speed of 3.4GHz with a max boost of 3.9GHz. Maximum temperatures of 95 Degrees under load.</strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/AMD-Processor-Wraith-Stealth-Cooler/dp/B07B41WS48/ref=sr_1_1?dchild=1&keywords=2600&qid=1587249375&sr=8-1" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb3f.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>ASRock B450 Steel Legend (AM4). The ASRock B450 Steel Legend is based on the AMD B450 chipset and supports AMD processors for the AM4 socket It has four DDR4 slots for up to 64 GB of RAM.</strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/ASRock-B450-STEEL-LEGEND-Legend/dp/B07MV7LR1B/ref=sr_1_1?dchild=1&keywords=ASRock+B450+Steel+Legend&qid=1587331206&sr=8-1" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb3g.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>ADATA XPG SPECTRIX D41 16GB (2x8GB) 3600MHz DDR4 Gaming Memory, gray. Pursuit of performance: speeds with wide operating frequencies ranging from 2666MHz to 5000MHz.</strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/XPG-Spectrix-3600MHz-PC4-28800-AX4U360038G17-DT41/dp/B07CQP3Z5T/ref=sr_1_1?dchild=1&keywords=adata+xpg+spectrix+d41+16gb&qid=1587331529&sr=8-1" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb3i.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>SAPPHIRE Nitro+ Radeon RX 5700 XT 8G GDDR6 Dual HDMI/Dual DP OC (Uefi). Resolution: HDMI: 4096-2160@60Hz. DisplayPort1.4: 5120-2880@60Hz.</strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/SAPPHIRE-Nitro-Radeon-5700-GDDR6/dp/B07XGV3FL3/ref=sr_1_1?dchild=1&keywords=Sapphire+Radeon+RX+5700+XT&qid=1587331893&sr=8-1" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb3j.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>Anidees AI Crystal XL PRO RGB Full Tower Tempered Glass XL-ATX/E-ATX/ATX Gaming Case Support 480/360 Radiator, Optical drive, Includes RGB 120x5 PWM Fans/LED Stripsx2 - AI-XL-PRO-RGB. lexible structure: ODD x 12 or HDD/SSD x 12 in the front, PSU cover removable, front fan bracket makes the installation easier.</strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/Anidees-Crystal-Tempered-Radiator-Stripsx2/dp/B081M3RGG8/ref=sr_1_fkmr0_1?dchild=1&keywords=Anidees+AI+Crystal+Cube&qid=1587332188&sr=8-1-fkmr0" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>

<div class="row mb-3">
    <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/cb3k.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
    <div class="col-4 themed-grid-col"><br><br><strong>Seasonic SSR-650P 13.5 cm PRIME 650 Snow Silent ATX 12V 80 PLUS Titanium Hybrid Fan Control - White. ATX 12V/ Output 62A/ 80 PLUS Titanium/ 13.5 cm fan/ Cable Mgt/ Hybrid Silent Fan Control. </strong></div>
    <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/Seasonic-SSR-650P-PRIME-650-Titanium/dp/B07BYF9S3N/ref=sr_1_1?dchild=1&keywords=seasonic+prime+snow+silent+650w&qid=1587332406&sr=8-1" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
</div>

<hr>

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">PCBuildIreland</h5>
                <p>PCBuildIreland is a web application project focused on providing information
                    on how to assemble your own computer with the aid of price matching products
                    and sharing knowledge together online.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Pages</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/parts">Parts</a>
                    </li>
                    <li>
                        <a href="/completedbuilds">Completed Builds</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Other</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://pcpartpicker.com/" target="_blank">PC Part Picker</a>
                    </li>
                    <li>
                        <a href="https://www.pcspecialist.ie/build-your-own-pc/" target="_blank">PC Specialist</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.co.uk/" target="_blank">Amazon UK</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.de/" target="_blank">Amazon Germany</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>

                <ul class="list-unstyled">
                    <li>
                        <a>Mark Carley</a>
                    </li>
                    <br>
                    <li>
                        <a>Waterford Institute of Technology,<br>
                            Waterford, Ireland</a>
                    </li>
                    <br>
                    <li>
                        <a>20071864@mail.wit.ie</a>
                    </li>
                    <br>
                    <li>
                        <a>+ 01 234 5678</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>

<hr>


</body>
</html>