<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      img {
        max-width: 300px;
        max-height: 225px;
      }

    </style>

  </head>
  <body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">PCBuildIreland</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="parts">Parts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="completedbuilds">Completed Builds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="raspberry">Raspberry Pie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="logout">Logout</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>



    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome to <br>PCBuildIreland</h1>
          <p>This final year project aims at providing information about various computer parts and how to assemble your own computer by matching prices online and figuring out what build is best suited for that person. </p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Parts</h2>
            <p><img src="/images/main1.jpg" alt="Main parts image"><br>This section of the site focuses on individual parts and there respected prices for each online, a general catalogue containing parts such as CPU'S, motherboards, storage and cooling fans. </p>
            <p><a class="btn btn-secondary" href="/parts" role="button">View Parts &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Completed Builds</h2>
            <p><img src="/images/main2.jpg" height="187" width="440" alt="Main completed image"><br>The following page shows a variety of different completed computer builds with there listed parts that have been used to construct them. An overall price margin is given for each build and there parts.</p>
            <p><a class="btn btn-secondary" href="/completedbuilds" role="button">View Completed Builds &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Raspberry Pie</h2>
            <p><img src="/images/main3.jpg" height="187" width="440" alt="Main completed image"><br>From here is provided information on the popular micro computers called Raspberry Pie, focusing on the range of products available and what projects can be developed using a Raspberry Pie.</p>
            <p><a class="btn btn-secondary" href="raspberry" role="button">View Raspberry Pie &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->


        <br>

      <!-- Footer -->
      <footer class="page-footer font-small stylish-color-dark pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">PCBuildIreland</h5>
              <p>PCBuildIreland is a web application project focused on providing information
              on how to assemble your own computer with the aid of price matching products
              and sharing knowledge together online.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Pages</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/parts">Parts</a>
                </li>
                <li>
                  <a href="/completedbuilds">Completed Builds</a>
                </li>
                <li>
                  <a href="/about">About</a>
                </li>
                <li>
                  <a href="/login">Login</a>
                </li>
                <li>
                  <a href="/register">Register</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>

              <ul class="list-unstyled">
                <li>
                  <a>Mark Carley</a>
                </li>
                <br>
                <li>
                  <a>Waterford Institute of Technology,<br>
                  Waterford, Ireland</a>
                </li>
                <br>
                <li>
                  <a>20071864@mail.wit.ie</a>
                </li>
                <br>
                <li>
                  <a>+ 01 234 5678</a>
                </li>

              </ul>

            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <hr>

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1">Register Here</h5>
          </li>
          <li class="list-inline-item">
            <a href="/register" class="btn btn-danger btn-rounded">Sign up!</a>
          </li>
        </ul>
        <!-- Call to action -->

        <hr>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->


    </main>
  </body>
</html>
