<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .themed-grid-col {
            padding-top: 1px;
            padding-bottom: 15px;
            background-color: rgba(86, 61, 124, .15);
            border: 1px solid rgba(86, 61, 124, .2);
        }

        .themed-container {
            padding: 15px;
            margin-bottom: 30px;
            background-color: rgba(0, 123, 255, .15);
            border: 1px solid rgba(0, 123, 255, .2);
        }

        img {
            max-width: 200px;
            max-height: 150px;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        h2 {

        }


    </style>

</head>
<body style="background-color:#f8fccc;">

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">PCBuildIreland</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="parts">Parts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="completedbuilds">Completed Builds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="raspberry">Raspberry Pie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us</a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>



<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
</nav>


<div class="container" >

    <section class="jumbotron text-center" style="background-color:#EAF8F6;">
        <div class="container">
            <h1>Parts Section</h1>
            <p class="lead text-muted">On this webpage is a list view of an assortment of computer parts with varying specifications and requirements.</p>

        </div>
    </section>

    <h2 class="mt-4">Part Image----------------------Part Description-----------------Part Pricing</h2>
    <p>There are five tiers to the Bootstrap grid system, one for each range of devices we support. Each tier starts at a minimum viewport size and automatically applies to the larger devices unless overridden.</p>

    <div class="row mb-3">
        <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/p1.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
        <div class="col-4 themed-grid-col"><br><br><strong>EVGA GeForcen RTX 20-Series Graphics Card, 6GB, GDDR6. Powered by NVIDIA Turing GPU and supports Ray Tracing.</strong></div>
        <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/MSI-RTX-2060-GAMING-6G/dp/B07M7J8H3K/ref=sr_1_4?dchild=1&keywords=rtx+2060&qid=1586891883&sr=8-4" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20606dfppb-o-graphics-card-geforce-rtx-2060-6-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/global/ie-en/msi-geforce-rtx-2060-rtx-2060-gaming-z-6g/p/N82E16814137379?Description=rtx%202060&cm_re=rtx_2060-_-14-137-379-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
    </div>

    <div class="row mb-3">
        <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/p2.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
        <div class="col-4 themed-grid-col"><br><br><strong>AMD Ryzen 5 2600, 6 Core CPU with 12 Threads. Base clock speed of 3.4GHz with a max boost of 3.9GHz. Maximum temperatures of 95 Degrees under load.</strong></div>
        <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/AMD-Processor-Wraith-Stealth-Cooler/dp/B07B41WS48/ref=sr_1_3?dchild=1&keywords=ryzen+2600&qid=1586966687&sr=8-3" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/amd-ryzen-5-2600-processor-3-4-ghz-box-16-mb-l3.html?___SID=U" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/amd-ryzen-5-2600/p/N82E16819113496?Description=2600&cm_re=2600-_-19-113-496-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
    </div>

    <div class="row mb-3">
        <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/p3.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
        <div class="col-4 themed-grid-col"><br><br><strong>MSI B450 TOMAHAWK MAX Motherboard ATX, AM4, DDR4, LAN, USB 3.2 Gen2, TYPE-C,M.2, RGB Mystic Light Sync, HDMI and 3rd Generation ready. Product dimensions are 30.5 x 24 x 3cm.</strong></div>
        <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/MSI-B450-TOMAHAWK-MAX-Motherboard/dp/B07VB2BG3X/ref=sr_1_2?dchild=1&keywords=b450&qid=1586973385&sr=8-2" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/asus-prime-b450-plus-motherboard-socket-am4-atx-amd-b450.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/msi-b450-tomahawk-max/p/N82E16813144267?Description=b450&cm_re=b450-_-13-144-267-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
    </div>

    <div class="row mb-3">
        <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/p4.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
        <div class="col-4 themed-grid-col"><br><br><strong>Crucial Ballistix BL2K8G32C16U4B 3200 MHz, DDR4, DRAM, Desktop Gaming Memory Kit, 16GB (8GB x2), CL16, Black. With an anodized aluminium heat spreader in black, white or red and XMP 2.0 support for automatic overclocking.</strong></div>
        <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/Crucial-Ballistix-BL2K8G32C16U4B-Desktop-Gaming/dp/B083TRRT16/ref=sr_1_1?crid=H5HLVQ2EY8E7&dchild=1&keywords=crucial+ballistix&qid=1586974345&sprefix=crucial+b%2Caps%2C182&sr=8-1" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/crucial-ballistix-elite-memory-module-16-gb-ddr4-3600-mhz.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/ballistix-16gb-288-pin-ddr4-sdram/p/N82E16820164176?Description=crucial%20ballistix&cm_re=crucial_ballistix-_-20-164-176-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
    </div>

    <div class="row mb-3">
        <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/p5.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
        <div class="col-4 themed-grid-col"><br><br><strong>MSI NVIDIA GEFORCE RTX 2080 SUPER VENTUS XS OC Graphics Card '8GB GDDR6, 1830MHz, 3x DisplayPort, HDMI, Dual Fan Cooling System'. GeForce RTX VR: By combining advanced VR rendering, real-time ray tracing, and AI, GeForce RTX will take VR to a new level of realism.</strong></div>
        <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/MSI-RTX-2080-SUPER-VENTUS/dp/B07X5BRZZF/ref=sr_1_3?dchild=1&keywords=rtx+2080+super&qid=1586978245&sr=8-3" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/pny-vcg20808sblppb-graphics-card-nvidia-geforce-rtx-2080-super-8-gb-gddr6.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/msi-geforce-rtx-2080-super-rtx-2080-super-ventus-oc/p/N82E16814137443?Description=RTX%202080%20Super&cm_re=RTX_2080_Super-_-14-137-443-_-Product" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
    </div>

    <div class="row mb-3">
        <div class="col-4 themed-grid-col"><svg class="bd-placeholder-img card-img-top" width="80%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/p6.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="70%" height="50%" fill="#55595c"/></svg> </div>
        <div class="col-4 themed-grid-col"><br><br><strong>Corsair RM850x 80 PLUS Gold, 850 Watts, Fully Modular ATX Power Supply Unit - Black. Corsair RMx series power supplies give you extremely tight voltage control, quiet operation, Gold-certified efficiency, and a fully modular cable set.</strong></div>
        <div class="col-4 themed-grid-col"><br><br>&nbsp&nbsp&nbsp<a href="https://www.amazon.co.uk/Corsair-RM850x-Watts-Modular-Supply/dp/B07B71JV8T/ref=sr_1_3?crid=31Q9DO0QUNFKX&dchild=1&keywords=power+supply+850w&qid=1586978531&sprefix=power+suppl%2Caps%2C228&sr=8-3" target="_blank"><strong>Amazon UK - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.eurieka.ie/hewlett-packard-enterprise-5130-48g-poe-4sfp-370w-ei-managed-l3-gigabit-ethernet-10-100-1000-black-1u-power-over-ethernet-poe.html" target="_blank"><strong>Eurieka Ireland - Buy Here</strong></a><br>&nbsp&nbsp&nbsp<a href="https://www.newegg.com/corsair-rmx-series-rm850x-cp-9020180-na-850w/p/N82E16817139234?Description=Corsair%20RM850x&cm_re=Corsair_RM850x-_-17-139-234-_-Product&quicklink=true" target="_blank"><strong>NewEgg - Buy Here</strong></a> </div>
    </div>

</div>

<hr>

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">PCBuildIreland</h5>
                <p>PCBuildIreland is a web application project focused on providing information
                    on how to assemble your own computer with the aid of price matching products
                    and sharing knowledge together online.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Pages</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/parts">Parts</a>
                    </li>
                    <li>
                        <a href="/completedbuilds">Completed Builds</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Other</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://pcpartpicker.com/" target="_blank">PC Part Picker</a>
                    </li>
                    <li>
                        <a href="https://www.pcspecialist.ie/build-your-own-pc/" target="_blank">PC Specialist</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.co.uk/" target="_blank">Amazon UK</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.de/" target="_blank">Amazon Germany</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>

                <ul class="list-unstyled">
                    <li>
                        <a>Mark Carley</a>
                    </li>
                    <br>
                    <li>
                        <a>Waterford Institute of Technology,<br>
                            Waterford, Ireland</a>
                    </li>
                    <br>
                    <li>
                        <a>20071864@mail.wit.ie</a>
                    </li>
                    <br>
                    <li>
                        <a>+ 01 234 5678</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

</footer>
<hr>



<div id="player">

    <script>
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '300',
                width: '582',
                videoId: 'jUM_eINGUl4',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            event.target.playVideo();
        }

        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        var done = false;
        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 0);
                done = true;
            }
        }
        function stopVideo() {
            player.stopVideo();
        }
    </script>

</div>

</body>
</html>