<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        html {
            font-size: 14px;
        }
        @media (min-width: 768px) {
            html {
                font-size: 16px;
            }
        }

        .container {
            max-width: 960px;
        }

        .pricing-header {
            max-width: 700px;
        }

        .card-deck .card {
            min-width: 220px;
        }

        img {
            max-width: 450px;
            max-height: 200px;
        }

        img1 {
            max-width: 200px;
            max-height: 150px;
        }


    </style>

</head>
<body style="background-color:#f8fccc;">

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">PCBuildIreland</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="parts">Parts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="completedbuilds">Completed Builds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Raspberry Pie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="register">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us</a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<section class="jumbotron text-center" style="background-color:#EAF8F6;">
    <div class="container" style="background-color:#EAF8F6;">
        <h1>Raspberry Pi</h1>
        <p class="lead text-muted">This section of PC Build Ireland provides both pricing information and project ideas for the use of Raspberry Pi's. Raspberry Pi is a series of small single-board computers developed in the United Kingdom and promotes teaching in computer science.</p>
    </div>
</section>

<hr>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/pimain.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/></svg>


</div>

<hr>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Raspberry Pi 4 Model B</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">£60 <small class="text-muted"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>More Powerful Processor</li>
                    <li>1GB/2GB/4GB Ram</li>
                    <li>Can support 4K</li>
                    <li>USB 3 + USB 2</li>
                </ul>
                <a href="https://www.amazon.co.uk/Raspberry-Pi-ARM-Cortex-A72-Bluetooth-Micro-HDMI/dp/B07TC2BK1X/ref=sr_1_3?dchild=1&keywords=raspberry+pi+4&qid=1587390444&sr=8-3" target="_blank"><button type="button" class="btn btn-lg btn-block btn-outline-primary">Buy Here</button></a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Raspberry Pi 3 Model B</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">£36 <small class="text-muted"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Quad Core 1.2GHz</li>
                    <li>1 GB of Ram</li>
                    <li>4 USB 2 ports</li>
                    <li>HDMI display port</li>
                </ul>
                <a href="https://www.amazon.co.uk/Raspberry-Pi-3-Model-B/dp/B07BDR5PDW/ref=sr_1_3?dchild=1&keywords=raspberry+pi+3&qid=1587390585&sr=8-3" target="_blank"> <button type="button" class="btn btn-lg btn-block btn-outline-primary">Buy Here</button></a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Raspberry Pi 2 Model B</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">£26 <small class="text-muted"></small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>900Mhz quad-core ARM Cortex</li>
                    <li>1 GB of Ram</li>
                    <li>4 USB 2 ports</li>
                    <li>Full HDMI port</li>
                </ul>
                <a href="https://www.raspberrypi.org/products/raspberry-pi-2-model-b/" target="_blank"> <button type="button" class="btn btn-lg btn-block btn-outline-primary">Buy Here</button></a>
            </div>
        </div>
    </div>

</div>

<hr>
<center><h1>Raspberry PI Project Ideas</h1></center>
<hr>


<div class="row mb-2">
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">

                <h3 class="mb-0">Raspberry Pi VPN Server</h3>
                <div class="mb-1 text-muted">Apr 19</div>
                <p class="card-text mb-auto">You can easily curate one of the best Raspberry Pi projects that will act as your dedicated VPN server from scratch.</p>
                <a href="https://www.comparitech.com/blog/vpn-privacy/raspberry-pi-vpn/" target="_blank" class="stretched-link">Continue reading</a>
            </div>

                <svg class="bd-placeholder-img card-img-top" width="150%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/pi1.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="150%" height="100%" fill="#55595c"/></svg>

        </div>
    </div>
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">

                <h3 class="mb-0">Build An AI Assistant</h3>
                <div class="mb-1 text-muted">Apr 20</div>
                <p class="mb-auto"> If you also want to try your hand in the field of AI, building an AI assistant can be one of the best Raspberry Pi projects that you can take on right now.</p>
                <a href="https://pimylifeup.com/raspberry-pi-google-assistant/" class="stretched-link">Continue reading</a>
            </div>

                <svg class="bd-placeholder-img card-img-top" width="150%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/pi2.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="150%" height="100%" fill="#55595c"/></svg>

        </div>
    </div>
</div>
</div>

<hr>

<div class="row mb-2">
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">

                <h3 class="mb-0">Retro Gaming Machine</h3>
                <div class="mb-1 text-muted">Apr 20</div>
                <p class="card-text mb-auto">You can configure a Raspberry Pi to playing classic collections of retro games at home or on the go.</p>
                <a href="https://lifehacker.com/how-to-turn-your-raspberry-pi-into-a-retro-game-console-498561192" target="_blank" class="stretched-link">Continue reading</a>
            </div>

            <svg class="bd-placeholder-img card-img-top" width="150%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/pi3.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="150%" height="100%" fill="#55595c"/></svg>

        </div>
    </div>

<div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">

            <h3 class="mb-0">Build a Fully-Fledged Desktop Computer</h3>
            <div class="mb-1 text-muted">Apr 20</div>
            <p class="mb-auto">You can assemble a fully functioning computer using a Raspberry Pi, arguably a good way for enthusiasts to gain some experience in building a PC for small price.</p>
            <a href="https://www.makeuseof.com/tag/use-your-raspberry-pi-like-a-desktop-pc/" target="_blank" class="stretched-link">Continue reading</a>
        </div>

        <svg class="bd-placeholder-img card-img-top" width="150%" height="1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><img src="/images/pi4.jpg" alt="LinkedIn Icon"><title>Placeholder</title><rect width="150%" height="100%" fill="#55595c"/></svg>

    </div>
</div>
</div>
</div>

<hr>

<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">PCBuildIreland</h5>
                <p>PCBuildIreland is a web application project focused on providing information
                    on how to assemble your own computer with the aid of price matching products
                    and sharing knowledge together online.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Pages</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/parts">Parts</a>
                    </li>
                    <li>
                        <a href="/completedbuilds">Completed Builds</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Other</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://pcpartpicker.com/" target="_blank">PC Part Picker</a>
                    </li>
                    <li>
                        <a href="https://www.pcspecialist.ie/build-your-own-pc/" target="_blank">PC Specialist</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.co.uk/" target="_blank">Amazon UK</a>
                    </li>
                    <li>
                        <a href="https://www.amazon.de/" target="_blank">Amazon Germany</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>

                <ul class="list-unstyled">
                    <li>
                        <a>Mark Carley</a>
                    </li>
                    <br>
                    <li>
                        <a>Waterford Institute of Technology,<br>
                            Waterford, Ireland</a>
                    </li>
                    <br>
                    <li>
                        <a>20071864@mail.wit.ie</a>
                    </li>
                    <br>
                    <li>
                        <a>+ 01 234 5678</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->


</footer>

<hr>



</body>
</html>